* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: "DotGothic16";
  src: url("/fonts/DotGothic16-Regular.woff") format("woff2"),
    url("/fonts/DotGothic16-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background-blue: rgb(107, 157, 250);
  --font: "DotGothic16", sans-serif;
}

body {
  background-color: var(--background-blue);
  height: 100vh;
  width: 100vw;
}

.tama-frame {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  top: 10vh;
  flex-wrap: wrap;
}

.frame-img {
  height: 100%;
}

.buttons-container {
  display: flex;
  gap: 1rem;
  position: absolute;
  bottom: 0;
  margin-bottom: 45px;
}

.tama-buttons {
  background: #fff;
  color: inherit;
  border: 1px solid #000;
  box-shadow: 3px 3px 3px rgb(26, 25, 25);
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
  outline: inherit;
  font-family: var(--font);
  font-size: 16px;
}

.tama-buttons:active {
  box-shadow: 1px 1px 1px rgb(26, 25, 25);
}

.crypto-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.crypto-button {
  background: #fff;
  color: inherit;
  border: 1px solid #000;
  box-shadow: 3px 3px 3px rgb(26, 25, 25);
  border-radius: 5px;
  padding: 7px;
  cursor: pointer;
  outline: inherit;
  font-family: var(--font);
  font-size: 20px;
}

.crypto-button:active {
  box-shadow: 1px 1px 1px rgb(26, 25, 25);
}

.coins-container {
  height: 120px;
  width: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column-reverse;
}

.coin-styling {
  width: 25px;
}

.tama-screen {
  height: 155px;
  width: 155px;
  position: absolute;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tama-animal {
  height: 155px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tama-body {
  object-fit: contain;
  height: 100%;
  width: 100%;
  position: relative;
}

.tama-mouth {
  object-fit: contain;
  height: 30%;
  width: 30%;
  position: absolute;
}

.tama-neck {
  object-fit: contain;
  height: 30%;
  width: 30%;
  position: absolute;
  top: 57%;
}

.arrow-button {
  display: none;
}

@media only screen and (min-width: 768px) {
  .change-button {
    display: none;
  }
  .arrow-button {
    display: block;
  }
}
