* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: 'DotGothic16';
  src: url('/fonts/DotGothic16-Regular.woff') format('woff2'),
    url('/fonts/DotGothic16-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background-blue: rgb(70, 120, 214);
  --button-grey: rgb(26, 25, 25);
  --white: #fff;
  --black: #000;
  --font: 'DotGothic16', sans-serif;
}

body {
  background-color: var(--background-blue);
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.tama-frame {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

.frame-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.buttons-container {
  display: flex;
  gap: 1rem;
  position: absolute;
  align-self: flex-end;
  margin-bottom: 70px;
}

.tama-buttons {
  background: var(--white);
  color: inherit;
  border: 1px solid var(--black);
  box-shadow: 3px 3px 3px var(--button-grey);
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
  font-family: var(--font);
  font-size: 16px;
}

.tama-buttons:active {
  box-shadow: 1px 1px 1px var(--button-grey);
}

.crypto-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.crypto-button {
  background: var(--white);
  color: inherit;
  border: 1px solid var(--black);
  box-shadow: 3px 3px 3px var(--button-grey);
  border-radius: 5px;
  padding: 7px;
  cursor: pointer;
  outline: inherit;
  font-family: var(--font);
  font-size: 20px;
}

.crypto-button:active {
  box-shadow: 1px 1px 1px var(--button-grey);
}

.coins-container {
  height: 120px;
  width: 25px;
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column-reverse;
}

.coin-styling {
  width: 25px;
}

.tama-screen {
  height: 175px;
  width: 175px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tama-animal {
  height: 175px;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tama-body {
  object-fit: contain;
  height: 80%;
  width: 80%;
  position: relative;
}

.tama-mouth {
  object-fit: contain;
  height: 20%;
  width: 20%;
  position: absolute;
}

.tama-neck {
  object-fit: contain;
  height: 30%;
  width: 19%;
  position: absolute;
  top: 50%;
}

.bowtie {
  height: 30%;
  width: 19%;
  top: 48%;
}

.normalTie {
  height: 30%;
  width: 19%;
  top: 60%;
}

.headTie {
  height: 80%;
  width: 80%;
  padding-left: 19px;
  top: 0%;
}

.arrow-button {
  display: none;
}

.background-coin {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 30px;
  z-index: -1;
}

.wrapper {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media only screen and (min-width: 768px) {
  .change-button {
    display: none;
  }
  .arrow-button {
    display: block;
  }
  .tama-buttons {
    font-size: 20px;
  }
  .buttons-container {
    margin-bottom: 65px;
  }
}
